#include <afxres.h>
#include "resource.h"

IDD_DURATION_MANAGER DIALOGEX 0, 0, 400, 260
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Search:", IDC_STATIC, 4, 6, 28, 8
    EDITTEXT        IDC_SEARCH, 34, 4, 362, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_DURATION_LIST, "SysListView32", LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 4, 22, 392, 234
END

IDD_SUBSONG_MANAGER DIALOGEX 0, 0, 400, 260
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Files with multiple subsongs:", IDC_STATIC, 4, 4, 120, 8
    CONTROL         "", IDC_FILE_LIST, "SysListView32", LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 4, 14, 190, 218
    LTEXT           "Subsongs:", IDC_STATIC, 200, 4, 60, 8
    CONTROL         "", IDC_SUBSONG_LIST, "SysListView32", LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 200, 14, 196, 218
    COMBOBOX        IDC_MODE_COMBO, 4, 240, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    EDITTEXT        IDC_RANGE_INPUT, 68, 240, 328, 14, ES_AUTOHSCROLL
END
