#include <windows.h>
#include "resource.h"

IDD_XMP_PREFS DIALOGEX 0, 0, 300, 220
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0
BEGIN
    CONTROL     "", IDC_FORMAT_LIST, "SysListView32",
                LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,
                0, 0, 300, 220
END
