#include <winres.h>
#include "resource.h"

IDD_ADLIB_PREFERENCES DIALOGEX 0, 0, 300, 84
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Sample rate:", IDC_STATIC, 6, 9, 56, 8
    COMBOBOX        IDC_COMBO_SAMPLERATE, 66, 7, 96, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "AdLib core:", IDC_STATIC, 6, 28, 56, 8
    COMBOBOX        IDC_COMBO_CORE, 66, 26, 160, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Equalizer:", IDC_STATIC, 6, 48, 56, 8
    COMBOBOX        IDC_COMBO_EQUALIZER, 66, 46, 96, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "Enable surround", IDC_CHECK_SURROUND, 6, 66, 100, 10, WS_TABSTOP
END
