#include "resource.h"
#include <windows.h>

IDD_PREFERENCES DIALOGEX 0, 0, 320, 160
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL "", IDC_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 0, 0, 320, 142
    LTEXT "Default duration (seconds):", IDC_DURATION_LABEL, 4, 148, 100, 10
    EDITTEXT IDC_DEFAULT_DURATION_EDIT, 106, 146, 40, 12, ES_NUMBER | ES_AUTOHSCROLL
END
