#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_UADE_DECODERS DIALOGEX 0, 0, 340, 240
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    AUTOCHECKBOX    "Play indefinitely",
                    IDC_PLAY_INDEFINITELY, 7, 7, 320, 10
    LTEXT           "(Ignore song end signal)",
                    IDC_INDEFINITE_NOTE, 20, 19, 310, 8

    LTEXT           "Sample rate:", IDC_SAMPLERATE_LABEL, 7, 36, 45, 8
    COMBOBOX        IDC_SAMPLERATE_COMBO, 55, 34, 70, 200,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "", IDC_DECODER_LIST, "SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,
                    7, 52, 326, 168
    PUSHBUTTON      "Enable All",  IDC_BTN_ENABLE_ALL,  7, 224, 55, 14
    PUSHBUTTON      "Disable All", IDC_BTN_DISABLE_ALL, 67, 224, 55, 14
END
